<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>BaseURL</h1>
    <a href="/api/users/display">Users</a> <br>
    <a href="/api/messages/display">Messages</a> <br>
    <a href="/api/replies/display">Replies</a>
</body>
</html>