<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h1>Messages</h1>

    <p>
        <% messages.forEach((m)=> { %>
            <%= "From: " + m.sender %> <br>
            <%= "To: " + m.receiver %> <br>
            <%= "Message: " + m.message %> <br>
            <%= "timestamp: " + m.timestamp %> <br>

                <br /> <br />
                <% }) %>

    </p>

</body>

</html>