body {
    background-color: black;
    color: white;
    font-size: 130%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("darkMode_purple_bubbles.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    font-size: 200%
}